* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, skyblue, blue);
  overflow-y: hidden;
}

input {
  border-radius: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

.search-container {
  width: max-content;
  margin: auto;
}

.search-container .suggestions {
  width: 200px;
  margin: auto;
}

ul {
  max-height: 90vh;
  overflow-y: auto;
}

ul li {
  background-color: lightcyan;
  border: 1px solid black;
  list-style: none;
  padding: .5em;
}

ul li:hover {
  box-shadow: 1px 1px 1px black;
  background-color: blue;
  color: white;
}